{lib_dirs, ["deps"]}.

{erl_opts, [warnings_as_errors, debug_info,
        nowarn_deprecated_function,
        {platform_define, "^(19|2[0-9])", 'crypto_use_hash'},
        {platform_define, "^(19|2[0-9])", 'use_new_time_api'},
        {platform_define, "^(19|2[0-9])", 'use_rand'}]}.

{deps, [{common_lib, "3.3.4",
         {git, "git@github.com:Phonebooth/common_lib.git", {branch, "rw/3.3.4"}}}]}.

{erl_first_files, ["src/gen_esme_session.erl",
                   "src/gen_mc_session.erl",
                   "src/gen_esme.erl",
                   "src/gen_mc.erl"]}.

{xref_checks, [undefined_function_calls]}.
